@charset "UTF-08";


body {
    margin: 0;
}

main {
    margin: 0;
}

#sc01 {
    background-color: rgb(255, 255, 255);
    min-height: 40vh;
}

#sc01 p {
    font-size: 1.2em;
    padding: 2vh;

}

#sc01 article {
    width: 80vw;
    margin: 8vh auto auto auto;
    text-align: center;
    border: 1px solid black;
   

}

#sc01 article>h1 {
    margin: 2vh;
    border-bottom: 1px solid black;
}

#sc02M {
    font-size: 4vh;
    padding: 2vh;
    background-color: rgb(243, 243, 189);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

#text02 {
    text-align: center;
    padding-top: 2vh;
    margin: auto;
    width: 70vw;
    border: 1px solid black;
    height: 6vh;
    background-color: white;
    overflow-y: scroll;
    
    
}

#sc02M > button {
    min-width: 12vw;
    height: 6vh;
    background-color: rgba(127, 255, 212, 0.544);
    font-size: 4vh;
}



#sc02 {
    height: 40vh;
    background-color: rgb(0, 84, 87);
    font-size: 2.9vw;
}



#container {
    padding-top: 3vh;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
    grid-template-areas: 
    "Div1-0 Div1-0 Div1-0 Div1-0 Div1-0"
    "qpDiv qpDiv qpDiv qpDiv qpDiv"
    "alDiv alDiv alDiv alDiv alDiv"
    "shiftDiv zmDiv zmDiv zmDiv eraserDiv"
    "Divint commaDiv spaceDiv dotDiv enterDiv"
    ;

    width: 95vw;
    margin: auto;
    grid-gap: 1vw;
}

.valueb {
    width: 8.8vw;
    height: 6vh;
}

.empty {
    width: 4.20vw;
    height: 6vh;
    background-color: rgba(0, 0, 255, 0);
}

.special  {
    width: 13.5vw;
    height: 6vh;
    
}

.space {
    width: 46.5vw;
    height: 6vh;
}



#Div1-0 {
    grid-area: Div1-0;
}

#qpDiv {
    grid-area: qpDiv;
}

#eraserDiv {
    grid-area: eraserDiv;
}

#fixDiv {
    grid-area: fixDiv;
    display: none;
}

#alDiv {
    grid-area: alDiv;
    display: flex;
    justify-content: space-between;
}

#zmDiv {
    grid-area: zmDiv;
}

#enterDiv {
    grid-area: enterDiv;
}

#shiftDiv {
    grid-area: shiftDiv;
}
#commaDiv {
    grid-area: commaDiv;
}

#dotDiv {
    grid-area: dotDiv;
}

#Divint {
    grid-area: Divint;
}

#spaceDiv {
    grid-area: spaceDiv;
}

@media screen and (min-width: 800px) {
    #container {
        max-width: 1000px;
        grid-gap: 10px;
        background-color: red;
        grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
        grid-template-areas: 
        "Div1-0 Div1-0 Div1-0 Div1-0 eraserDiv"
        "qpDiv qpDiv qpDiv qpDiv qpDiv"
        "fixDiv alDiv alDiv alDiv enterDiv"
        "shiftDiv zmDiv commaDiv  dotDiv Divint"
        "spaceDiv spaceDiv spaceDiv spaceDiv spaceDiv"

        ;
    }

    .valueb {
        width: 20px;
        height: 50px;
    }

    .special  {
        width: 100px;
        height: 50px;
        
    }

    #fixDiv {
        grid-area: fixDiv;
        display: block;
    }
}